/*body { padding-top:30px;
      background-color: #9ad3de;
}

#nav-color{
  background-color: #343838;
}

#back-body {
    background-color: #9ad3de;
      padding: 40px;
}

#dashboardTemplate {
  background-color: #d8eef3;
  margin-top: 20px;
  border-radius: 5px;
}

#about-back {
  background-color: white;
}

table {
  border-spacing: 10px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}


#slika {
  margin-left: -13px;
  margin-top: 8px;
  padding-bottom: 11px;
}

#basic-info {
  margin-top: 39px;
  padding-top: 21px;
}

#basic-info-font {
  font-size: 20px;
  font-family: cursive;

}

.basic-info-btn {
  margin-bottom: 6px;
}*/
