<section>
    <div class="vd_content-wrapper" style="max-height:500;" id="dashboardTemplate">
        <div class="vd_content clearfix">
            <div class="vd_content-section clearfix">
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/big.jpg" class="img-responsive" id="imgDashboard" />
                    </div>
                    <div class="col-md-9" id="basic-info">
                        <div class="col-md-12">
                            <div class="col-md-6" id="basic-info-font">
                                <div class="col-md-12">
                                    <b>FIRST NAME:</b>
                                </div>
                                <div class="col-md-12">
                                    {{dash.user.basics.firstName}}
                                </div>
                                <div class="col-md-12">
                                    <b>LAST NAME:</b>
                                </div>
                                <div class="col-md-12">
                                    {{dash.user.basics.lastname}}
                                </div>
                                <div class="col-md-12">
                                    <b>EMAIL:</b>
                                </div>
                                <div class="col-md-12">
                                    {{dash.user.contacts.email}}
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="col-md-12 col-md-offset-5 basic-info-btn">
                                    <a href="#" class="btn btn-primary  addEditPDFbtn" ng-click='dash.displayCvForSpecificUser(dash.user, true)' style="width: 150px;">Edit my CV</a>
                                </div>
                                <div class="col-md-12 col-md-offset-5 basic-info-btn">
                                    <a href="/addResume " class="btn btn-info addEditPDFbtn" style="width: 150px;">Create new CV</a>
                                </div>

                                <div class="col-md-12 col-md-offset-5 basic-info-btn">
                                    <a href="#" class="btn btn-danger addEditPDFbtn" style="width: 150px;">Export PDF</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- SEARCH for employees -->
<section>
    <nav class="navbar navbar-default" id="searchEmployee">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="nav-emp">EMPLOEES</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchEmployee">
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <br>

    <!-- SEARCH for employees end -->
    <section id="employeesSection">
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="cvs in dash.allCvs | filter:searchEmployee | orderBy:'basics.firstName'">
                    <div class="col-md-4" style="padding-top: 15px;">
                        <div class="w3-card-4">
                            <header class="w3-container w3-light-grey">
                                <h3>{{cvs.basics.firstName}}</h3>
                            </header>
                            <div class="w3-container">
                                <img src="img/avatar.png " alt="Avatar " class="w3-left img-response" id="cvListImg" />
                                <h4>{{cvs.basics.jobTitle}}</h4>
                                <br/>
                                <h5>{{cvs.contacts.email}}</h5>
                            </div>
                            <button class="w3-btn-block w3-teal " ng-click='dash.displayCvForSpecificUser(cvs, false)'>View CV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>