
<div class="vd_content-wrapper" style="min-height: 1059px;" id="dashboardTemplate">
  <div class="vd_container" style="min-height: 1059px;">
    <div class="vd_content clearfix">
      <div class="vd_content-section clearfix">
        <div class="row">
            <div class="col-md-3">
              <img src="img/big.jpg" class="img-responsive" />
            </div>
            <div class="col-md-9" id="basic-info">
                <div class="col-md-12">
                  <div class="col-md-6" id="basic-info-font">
                    <div class="col-md-6">
                      First Name:
                    </div>
                    <div class="col-md-6">
                        {{dash.user.basics.firstName}}
                    </div>
                    <div class="col-md-6">
                      Last Name:
                    </div>
                    <div class="col-md-6">
                        {{dash.user.basics.lastName}}
                    </div>
                    <div class="col-md-6">
                      Email:
                    </div>
                    <div class="col-md-6">

                        {{dash.user.contacts.email}}

                    </div>

                  </div>

                  <div class="col-md-6 ">
                      <div class="col-md-12 col-md-offset-8 basic-info-btn">
                         <a href="#" class="btn btn-warning">Edit profile</a>
                      </div>
                      <div ng-hide='user' class="col-md-12 col-md-offset-8 basic-info-btn" >
                         <a href="#" class="btn btn-danger">Create new CV</a>
                      </div>
                      <div ng-show='user' class="col-md-12 col-md-offset-8" >
                         <a href="#" class="btn btn-primary">Edit my CV</a>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>

                  </div>

                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                    <h2 style="font-family: cursive; text-align: center;">EMPLOYEES</h2>
                    <div ng-repeat="cvs in dash.allCvs">
                        <div class="col-md-4">
                            <div class="w3-card-4">
                                <header class="w3-container w3-light-grey">
                                    <h3>{{cvs.basics.firstName}}</h3>
                                </header>
                            <div class="w3-container">
                                <img src="img/avatarMan.png" alt="Avatar" class="w3-left w3-circle img-response" id="slika"/>
                                <p>{{cvs.basics.jobTitle}}</p>
                            </div>
                            <button class="w3-btn-block w3-teal">View</button>
                            </div>
                        </div>
                    </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>