
<link rel="stylesheet" href="/css/editor.css">
<div id='editorTemplate'>
    <main class="main">
        <div class='row' style="background-color: #005580;">
            <!-- left side -->
            <section class="col-md-4 col-lg-4 col-sm-12 leftside">
                <h2></h2>
                <!-- About controller -->
                <about-directive></about-directive>
                <!--Profesional skills info section -->
                <personal-skills-directive></personal-skills-directive>
                <!--Skills section  end-->
            </section>
            <!--Skills section  end-->
            
            <!--Left side info section end-->

            <!--right side -->
            <section class="col-lg-8 col-md-8 col-sm-12 rightside" style="background-color:white;   height: 100%">
                <!--Work expirience info section -->
                <work-exp-directive></work-exp-directive>
                <!--Work expirience info section end-->


                <!--Education info section -->
                <education-directive></education-directive>
                <hr/>
                <!--Education info section end-->

                <!--Technical skills info section -->
                <tech-skills-directive></tech-skills-directive>
                <hr/>
                <!--Technical skills info section -->

                <!--Languages info section -->
                <languages-directive></languages-directive>
                <!--Languages skills info section end -->
                <!--right side info section end -->
            </section>
            <!--Languages skills info section end -->
            <!--right side info section end -->
            </section>
        </div>
    </main>
</div>
