<section class="row education" ng-controller="EducationController as education">
    <!-- tittle row -->
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h4>EDUCATION</h4>
    </div>

    <!--education -->
    <div class="row" style='padding-top:50px' ng-repeat="item in education.items">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3" ng-hide="item.institution == ''">
                        <h4 style="margin-left:0px;" e-form="rowform">{{item.institution || 'empty'}}</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7" ng-hide="item.startDate == null && item.endDate == null">
                        <h4 class='dispaly:inline'><span  e-form="rowform"  ng-hide="item.startDate == null">{{item.startDate || 'empty' |  date:'dd-MM-yyyy'}}</span>
                     <span  e-form="rowform"  ng-hide="item.endDate == null">{{item.endDate || 'empty' |  date:'dd-MM-yyyy'}}</span></h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class='row'>
                    <div class="col-lg-7 col-md-7 col-sm-10" ng-hide="item.area == ''">
                        <b>Position: <span  e-form="rowform"> {{item.area || 'empty'}}</span></b>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-12' ng-hide="item.summary == ''">
                        <span e-rows="7" e-cols="100" e-form="rowform">
                    <b>Summary</b>: {{item.summary || 'empty'}}</span>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-10'>
                        <b><span  e-form="rowform"  ng-hide="item.studyType == ''">Study type: {{item.studyType || 'empty'}}</span></b>
                    </div>
                </div>
            </div>
            <!-- education/description row -->
</section>