<section class="row skills" ng-controller='PersonalSkillsController as personalSkills'>
    <div class="col-md-10" style="margin-top: 8px;">
        <h4>PERSONAL SKILLS</h4>
    </div>
    <div class="bar-sections" ng-repeat="x in personalSkills.items" ng-show="$index !=0">
        <div class="col-md-6">
            <span ng-click="rowform.$show()" e-name="name" e-form="rowform" e-required>
              {{ x.name || null | uppercase}}
            </span>

        </div>
        <div class="col-md-6">
            <div class="progress" href="#" e-ng-options="s.value as s.text for s in personalSkills.statuses" e-form="rowform" ng-click="rowform.$show()">
                <!--{{user.status}}-->
                <div class="progress-bar barWhite" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{x.level}}%">
                </div>
            </div>
        </div>
    </div>
</section>