<div ng-controller="AboutController as about">

    <!--Basis info section -->
    <section class="row basicsInfo">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img ng-click="showme=true" ng-hide="showme" ng-src="{{about.currentImg}}" alt="avatar" class="img-circle img-responsive" id="img">
                <upload-image ng-show="showme" ng-submit="about.init(); showme=false; " ng-cancel="showme=true"></upload-image>
            </div>
        </div>
        <div class="row wordBreak">
            <div class="col-md-12 col-lg-12">
                <h4><div style='color:white;border-bottom: none;' ng-click="rowformName.$show()" editable-text="about.user.firstName" ng-model='about.basicUser.firstname' e-form="rowformName" class='text-center'>{{about.basicUser.firstname || null}}</div></h4>
                <h4><div style='color:white;border-bottom: none;' ng-click="rowformName.$show()" editable-text="about.user.lastName" ng-model='about.basicUser.lastname' e-form="rowformName" class='text-center'>{{about.basicUser.lastname || null}}</div></h4>
            </div>
        </div>

        <!--Edit Form Buttons First/Last Name-->
        <form editable-form name="rowformName" ng-show="rowformName.$visible" onaftersave="about.editName(about.user)" class="form-buttons form-inline col-md-12" shown="inserted == about.user">
            <hr>
            <button type="submit" ng-disabled="rowformName.$waiting" class="btn btn-primary">
                              Save
                            </button>
            <button type="button" ng-disabled="rowformName.$waiting" ng-click="rowformName.$cancel()" class="btn btn-default">
                                Cancel
                            </button>
            <hr>

        </form>

        <!--Job Position/Title-->
        <div class="col-md-10 col-lg-10 wordBreak" style="margin-top: 8px;">
            <h4><div ng-hide="showDivAbout" style="color:white;border-bottom: none;"  ng-click="rowformPosition.$show()"  editable-text="about.user.jobTitle" ng-model="about.user.jobTitle" e-form="rowformPosition" class='text-center'> {{about.user.jobTitle || 'empty'}}</div></h4>
        </div>
        <div id="contactForm" class="col-md-2">
            <a href="#popupRightAdd" role="button" class="btn btn-info add" data-toggle="modal-popover" data-placement="right"> + </a>
        </div>

        <div id="popupRightAdd" class="popover">
            <div class="popover-title">Add Contact</div>
            <form id="popForm" method="get" ng-submit="about.addBasic()">
                <div class="col-md-12">
                    <label>Job Title</label>
                    <input type="text" class="form-control" ng-model="about.position.textPosition" placeholder="POSITION">
                    <br>

                    <label>Short bio</label>
                    <textarea class="form-control" rows="5" ng-model="about.contact.textInput" placeholder="ABOUT"></textarea>
                    <br>

                    <input id="addPopover" type="submit" class="form-control btn btn-primary pull-left" value="Add">
                    <input id="cancelPopover" type="button" class="form-control btn btn-default pull-right" value="Cancel">
                </div>
            </form>
        </div>

        <!--Edit Form Buttons Job Position/Title-->
        <form editable-form name="rowformPosition" ng-show="rowformPosition.$visible" onaftersave="about.editBasics(about.user.jobTitle)" class="form-buttons form-inline col-md-12" shown="inserted == about.user">
            <hr/>
            <button type="submit" ng-disabled="rowformPosition.$waiting" ng-click='' class="btn btn-primary">
                Save
            </button>
            <button type="button" ng-disabled="rowformPosition.$waiting" ng-click="rowformPosition.$cancel()" class="btn btn-default">
                Cancel
            </button>

            <hr/>

        </form>
        <!--End Button form-->
        <!--End Job Position/Title-->


        <!--ADD POSITION/ABOUT-->
        <form class="col-md-12" ng-submit="about.addBasic()" style="margin:30px 10px 30px 10px" ng-show="showDivAbout">
            <input type="text" class="form-control" ng-model="about.position.textPosition" placeholder="POSITION"><br>
            <textarea class="form-control" rows="5" ng-model="about.contact.textInput" placeholder="ABOUT"></textarea><br>
            <input type="submit" class="btn btn-primary" value="Add" ng-click="showDivAbout=false">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="showDivAbout=false">
        </form>
        <!--END "ADD POSITION/ABOUT"-->


    </section>


    <!--Basis info section end -->
    <!--Summary info section -->
    <section class="row summary text-center wordBreak">
        <div class='col-lg-12 col-sm-12'>
            <h4 ng-hide="showDivAbout"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> ABOUT</h4>
            <span ng-hide="showDivAbout" class='about' style='color:white;border-bottom: none;' ng-click="rowformSummary.$show()" editable-textarea="about.user.summary" e-rows="7" e-cols="40" ng-model='about.user.summary' class='text-justify' e-form="rowformSummary"><small>{{about.user.summary || null}}</small></span>
            <form editable-form name="rowformSummary" onaftersave="about.editBasics(about.user.summary)" ng-show="rowformSummary.$visible" class="form-buttons form-inline col-md-12" shown="inserted == about.user">
                <button type="submit" ng-disabled="rowformSummary.$waiting" ng-click='' class="btn btn-primary">
                                  Save
                                </button>
                <button type="button" ng-disabled="rowformSummary.$waiting" ng-click="rowformSummary.$cancel()" class="btn btn-default">
                                  Cancel
                                </button>
            </form>
            <hr/>
        </div>
    </section>
    <!--Basis info section -->
    <!--Contact info section -->
    <section class="row skills">
        <div class="col-md-10" style="margin-top: 8px;">
            <h4> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> CONTACT</h4>
        </div>
        <div id="contactForm" class="col-md-2">
            <a href="#popupRightContact" role="button" class="btn btn-info add" data-toggle="modal-popover" data-placement="right"> + </a>
        </div>

        <div id="popupRightContact" class="popover">
            <div class="popover-title">Add Contact</div>
            <form id="popForm" method="get" ng-submit="about.addContact()">
                <div class="col-md-12">
                    <label>Contact type</label>
                    <select class="form-control" style="color:black" name="selected" id="selected" ng-model="about.contact.selected">
                        <option value="">-Select-</option>
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                        <option value="city">City</option>
                        <option value="country">Country</option>
                        <option value="website">Website</option>
                        <option value="social">Social Network</option>
                    </select>
                    <label>Type text</label>
                    <input type="text" class="form-control" ng-model="about.contact.textInput" placeholder="{{selected}}">
                    <br>

                    <input id="addPopover" type="submit" class="form-control btn btn-primary pull-left" value="Add">
                    <input id="cancelPopover" type="button" class="form-control btn btn-default pull-right" value="Cancel">
                </div>
            </form>
        </div>
        
        <div class="bar-sections wordBreak row">
            <div class="col-md-10" ng-hide="about.items.email == null" ng-click="rowform.$show()" e-placeholder="E-mail" editable-text="about.items.email" e-name="email" e-form="rowform" e-required>
                <i class="fa fa-envelope-o fa contactIcons" aria-hidden="true"></i> {{ about.items.email}}
            </div>
            <div class="col-md-10" ng-hide="about.items.phone == null" ng-click="rowform.$show()" e-placeholder="Phone" editable-text="about.items.phone" e-name="phone" e-form="rowform" e-required>
                <i class="fa fa-phone fa contactIcons" aria-hidden="true"></i> {{ about.items.phone}}
            </div>
            <div class="col-md-10" ng-hide="about.items.city == null" ng-click="rowform.$show()" e-placeholder="City" editable-text="about.items.city" e-name="city" e-form="rowform" e-required>
                <i class="fa fa-map-marker fa contactIcons" aria-hidden="true"></i> {{ about.items.city}}
            </div>
            <div class="col-md-10" ng-hide="about.items.country == null" ng-click="rowform.$show()" e-placeholder="Country" editable-text="about.items.country" e-name="country" e-form="rowform" e-required>
                <i class="fa fa-globe fa contactIcons" aria-hidden="true"></i> {{ about.items.country}}
            </div>
            <div class="col-md-10" ng-hide="about.items.website == null" ng-click="rowform.$show()" e-placeholder="Website" editable-text="about.items.website" e-name="website" e-form="rowform" e-required>
                <i class="fa fa-at fa-contactIcons" aria-hidden="true"></i> <a href="#">{{ about.items.website}}</a>
            </div>
            <div class="col-md-10" ng-repeat="s in about.items.social">
                <div ng-hide="s.network == null" ng-click="rowform.$show()" editable-text="s.network" e-placeholder="Social network" e-name="facebook" e-form="rowform" e-required style='color:white'>
                    <i class="fa fa-comment-o fa contactIcons" aria-hidden="true"></i> {{s.network}}
                </div>
            </div>

            <form editable-form name="rowform" onaftersave="about.editContacts(about.items)" ng-show="rowform.$visible" class="form-buttons form-inline col-md-12" shown="inserted == about.items">
                <hr>
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Save
                          </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            Cancel
                          </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="about.removeContacts($index)" class="btn btn-danger">
                            Delete
                          </button>
                <hr>
            </form>

        </div>

    </section>
    <hr/>
    <!--Contact info section end-->


    <!-- About controller end -->
</div>
