<section class="row education" ng-controller="EducationController as education">
                    <!-- tittle row -->
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <h4>EDUCATION</h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <button type="button" ng-click='showDiv=true' class="btn btn-info add" ng-show='education.showEditable'> + </button>
                    </div>

                    <!-- add new education -->
                    <form style="margin:30px" ng-show="showDiv" validate>
                        <hr />
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <p>Enter your institution name:</p>
                            </div>
                            <div class='col-lg-5 col-md-5'>
                                <input type='text' id='institutionName' ng-model='education.user.institution' placeholder="Eneter institution name" />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-3 col-md-3'>
                                <p>Enter date from - to</p>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <input type='date' ng-model='education.user.dateFrom' />
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <input type='date' ng-model='education.user.dateTo' />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <p>Enter your area</p>
                            </div>
                            <div class='col-lg-5 col-md-5'>
                                <input type='text' placeholder="Eneter area" ng-model='education.user.area' />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-3 col-md-3'>
                                <p>Enter summary</p>
                            </div>
                            <div class='col-lg-5 col-md-5'>
                                <input type='text' placeholder="Eneter summary" ng-model='education.user.summary' />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-3 col-md-3'>
                                <p>Enter study type</p>
                            </div>
                            <div class='col-lg-5 col-md-5'>
                                <input type='text' placeholder="Enter your study type" ng-model='education.user.studyType' />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-3 col-md-3'>
                                <input type="submit" class="btn-primary btn-sm" value="Add" ng-click="education.addEducation(education.user); showDiv=false">
                                <input type="button" ng-disabled="rowform.$waiting" ng-click="showDiv=false" class="btn btn-default btn-sm" value='Cancel' />
                            </div>
                        </div>
                    </form>
                    <!--education -->
                    <div class="row" style='padding-top:50px' ng-repeat="item in education.items">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3" ng-hide="item.institution == ''">
                                        <h4 style="margin-left:0px;" editable-text='item.institution' e-form="rowform">{{item.institution || 'empty'}}</h4>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-7" ng-hide="item.startDate == null && item.endDate == null">
                                        <h4 class='dispaly:inline'><span editable-date='item.startDate'  e-form="rowform"  ng-hide="item.startDate == null">{{item.startDate || 'empty' |  date:'dd-MM-yyyy'}}</span>
                                - <span editable-date='item.endDate'  e-form="rowform"  ng-hide="item.endDate == null">{{item.endDate || 'empty' |  date:'dd-MM-yyyy'}}</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class='row'>
                                    <div class="col-lg-7 col-md-7 col-sm-10" ng-hide="item.area == ''">
                                        <b>Position: <span editable-text="item.area" e-form="rowform"> {{item.area || 'empty'}}</span></b>
                                    </div>
                                    <div class='col-lg-7 col-md-7 col-sm-12' ng-hide="item.summary == ''">
                                        <span editable-textarea="item.summary" e-rows="7" e-cols="100" e-form="rowform">
                                <b>Summary</b>: {{item.summary || 'empty'}}</span>
                                    </div>
                                    <div class='col-lg-7 col-md-7 col-sm-10'>
                                        <b><span editable-text="item.studyType" e-form="rowform"  ng-hide="item.studyType == ''">Study type: {{item.studyType || 'empty'}}</span></b>
                                    </div>
                                </div>
                            </div>


                            <!-- buttons -->
                            <div class='row'>
                                <div class='pull-right col-lg-4 col-md-4 col-sm-4'>
                                    <form editable-form name="rowform" onaftersave="education.editEducation(item)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        save
                                    </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        cancel
                                    </button>
                                    </form>
                                </div>
                            </div>
                            <div class='row' ng-show='education.showEditable'>
                                <div class='pull-right'>
                                    <div class="buttons col-lg-12 col-md-8 col-sm-12" ng-show="!rowform.$visible">
                                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                        <button class="btn btn-danger" ng-click="education.removeEducation(item)">del</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- education/description row -->
                </section>
