<section class="row education" ng-controller="EducationController as education">
    <!-- tittle row -->
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h4>EDUCATION</h4>
    </div>
    <div class="col-md-2 text-center">
        <a href="#popupRightEducation" role="button" class="btn btn-info add" data-toggle="modal-popover" data-placement="left"> + </a>
    </div>

    <div id="popupRightEducation" class="popover">
        <div class="popover-title">Add Language</div>
        <form id="popForm" method="get">
            <div class="col-md-12">
                <label>Enter your institution name:</label>
                <input type='text' id='institutionName' class="form-control" ng-model='education.user.institution' placeholder="Eneter institution name" />

                <label>Enter date from - to</label>
                <div>
                    <input type='date' class="form-control" id="calendarFrom" ng-model='education.user.dateFrom' />
                    <input type='date' class="form-control" id="calendarTo" ng-model='education.user.dateTo' />
                  </div>

                <label>Enter your area</label>
                <input type='text' class="form-control" placeholder="Eneter area" ng-model='education.user.area' />

                <label>Enter summary</label>
                <textarea class="form-control" rows="5" ng-model='education.user.summary' placeholder="Eneter summary"></textarea>

                <label>Enter study type</label>
                <input type='text' class="form-control" placeholder="Enter your study type" ng-model='education.user.studyType' />
                <br />
                <input id="addPopover" type="submit" class="form-control btn btn-primary pull-left" value="Add" ng-click="education.addEducation(education.user)">
                <input id="cancelPopover" type="button" ng-disabled="rowform.$waiting" class="form-control btn btn-default pull-right"value='Cancel' />
            </div>
        </form>
    </div>
    <!--education -->
    <div class="row" style='padding-top:50px' ng-repeat="item in education.items" ng-show="$index !=0">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <span><b>Institution:</b></span>
                        <h4 style="margin-left:0px;" editable-text='item.institution' e-form="rowform" ng-hide="item.institution == '' || item.institution == null">{{item.institution}}</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7" ng-hide="item.startDate == null && item.endDate == null">
                        <h4 class='dispaly:inline'><span editable-date='item.startDate'  e-form="rowform"  ng-hide="item.startDate == null">{{item.startDate |  date:'dd-MM-yyyy'}}</span>
                                - <span editable-date='item.endDate'  e-form="rowform"  ng-hide="item.endDate == null">{{item.endDate  |  date:'dd-MM-yyyy'}}</span></h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class='row'>
                    <div class="col-lg-7 col-md-7 col-sm-10">
                        <b>Area: <span editable-text="item.area" e-form="rowform" ng-hide="item.area == '' || item.area == null"> {{item.area }}</span></b>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-12'>
                        <b>Summary</b>: <span editable-textarea="item.summary" e-rows="7" e-cols="100" e-form="rowform" ng-hide="item.summary == '' || item.summary == null"> {{item.summary }}</span>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-10'>
                        <b>Study type:<span editable-text="item.studyType" e-form="rowform"  ng-hide="item.studyType == '' || item.studyType == null"> {{item.studyType }}</span></b>
                    </div>
                </div>
            </div>


            <!-- buttons -->
            <div class='row'>
                <div class='pull-right col-lg-4 col-md-4 col-sm-4'>
                    <form editable-form name="rowform" onaftersave="education.editEducation(item, $index)" ng-show="rowform.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        save
                                    </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        cancel
                                    </button>
                    </form>
                </div>
            </div>
            <div class='row' ng-show='education.showEditable'>
                <div class='pull-right'>
                    <div class="buttons col-lg-12 col-md-8 col-sm-12" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="education.removeEducation($index)">del</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- education/description row -->
</section>