<section class="row workExprience" ng-controller="WorkExperienceController as experience">

    <!-- tittle row -->
    <div class="col-lg-10 col-md-10 col-sm-10 pull-left">
        <h4>WORK EXPIRIENCE</h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-center" ng-show='experience.showEditable'>
        <a href="#popupRightWorkExperience" role="button" class="btn btn-info add" data-toggle="modal-popover" data-placement="left"> + </a>
    </div>
    <div id="popupRightWorkExperience" class=" popover">
        <div class="popover-title">Work experience</div>
        <form id="popForm">
            <div class="col-md-12">
                <label>Enter your company name:</label>
                <input type="text" class="form-control" id="companyName" ng-model='experience.user.company' placeholder="Eneter company name">

                <label id="po">Enter date from - to</label>
                <div>
                    <input type='date' class="form-control pull-left" id="calendarFrom" ng-model='experience.user.dateFrom' />
                    <input type='date' class="form-control pull-right" id="calendarTo" ng-model='experience.user.dateTo' />
                </div>
                <label>Enter your position</label>
                <input type='text' class="form-control" placeholder="Eneter position" ng-model='experience.user.position' />

                <label>Enter summary</label>
                <textarea class="form-control" rows="5" ng-model='experience.user.summary' placeholder="Eneter summary"></textarea>

                <label>Enter comapany website</label>
                <input type='text' class="form-control" placeholder="Web site" ng-model='experience.user.website' />
                <br />
                <input href="#" id="addPopover" type="submit" class="form-control btn btn-primary pull-left" value="Add" ng-click="experience.addExperience(experience.user); showDiv=false"></input>
                <input href="#" id="cancelPopover" type="button" class="form-control btn btn-default pull-right" data-toggle="popover" ng-click="showDiv=false" value='Cancel'></input>
            </div>
        </form>
    </div>
    <hr />
    <!-- company/description row -->
    <div class="row" style='padding-top:50px' ng-repeat="item in experience.items" ng-show="$index !=0">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="container">
                <div class='row'>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <span><b>Company:</b></span>
                        <h4 style='margin-left:0px' editable-text='item.company' e-form="rowform" ng-hide="item.company == '' || item.company == null">{{item.company}}</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7" ng-hide="item.startDate == null && item.endDate == null">
                        <h4 class='dispaly:inline'><span editable-date='item.startDate'  e-form="rowform" ng-hide="item.startDate == null">{{item.startDate|  date:'dd-MM-yyyy'}}</span>
                                    - <span editable-date='item.endDate'  e-form="rowform" ng-hide="item.endDate == null">{{item.endDate |  date:'dd-MM-yyyy'}}</span></h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class='row'>
                    <div class="col-lg-7 col-md-7 col-sm-10">
                        <b>Position: <span editable-text="item.position" e-form="rowform" ng-hide="item.position == '' || item.position == null"> {{item.position }}</span></b>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-12'>
                        <b>Summary</b>: <span editable-textarea="item.summary" e-rows="7" e-cols="80" e-form="rowform" ng-hide="item.summary == '' || item.summary == null">{{item.summary}}</span>
                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-10'>
                        <span><b>Web page:</b></span>
                        <span editable-text="item.website" e-form="rowform" ng-hide="item.website == '' || item.website == null"><a ng-href='{{item.website}}'>{{item.website}}</a></span>
                    </div>
                </div>
            </div>

            <!-- form -->
            <div class='row'>
                <div class='pull-right col-lg-4 col-md-4 col-sm-4'>
                    <form editable-form name="rowform" onaftersave="experience.editExperience(item,$index)" ng-show="rowform.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                          cancel
                      </button>
                    </form>
                </div>
            </div>
            <div class='row' ng-show='experience.showEditable'>
                <div class='pull-right'>
                    <div class="buttons col-lg-12 col-md-8 col-sm-12" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="experience.removeExperience($index)">del</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>